In [5]:
import pandas as pd
import numpy as np

In [ ]:
#r = alpha + betha((rm - rf)) + rf

#B ~ U(0.5, 1)

#alpha ~ N(0.1, 0.15^2)

rf = 0.03
rm = 0.13

mean_beta = (0.5 + 1) / 2
mean_alpha = 0.1

#Expected Value
R = mean_alpha + mean_beta * (rm - rf) + rf
print("Expected Return: ", R)

Expected Return:  0.20500000000000002

In [2]:
var_alpha = 0.15 ** 2
var_beta = ((1 - 0.5) ** 2) / 12

var_R = var_alpha + ((rm - rf) ** 2) * var_beta + 0 #2Cov(alpha, beta) = 0

print("Variance of Return: ", var_R)

Variance of Return:  0.022708333333333334

In [3]:
print("Standard Deviation of Return: ", var_R ** 0.5)

Standard Deviation of Return:  0.1506928443335427

In [6]:
n = 10000

alpha = pd.DataFrame(np.random.normal(0.1, 0.15, n), columns=['alpha'])

beta = pd.DataFrame(np.random.uniform(0.5, 1, n), columns=['beta'])

In [8]:
alpha.head()

      alpha
0 -0.006976
1  0.126922
2  0.283039
3  0.257763
4  0.075090

In [9]:
beta.head()

       beta
0  0.860357
1  0.784403
2  0.664162
3  0.774724
4  0.913951

In [13]:
R = pd.DataFrame(np.zeros(n))

i = 0
for i in range(n):
    R.iloc[i, 0] = alpha.iloc[i,0] + beta.iloc[i,0] * (rm - rf) + rf
    
R.head()

          0
0  0.109060
1  0.235362
2  0.379455
3  0.365236
4  0.196485

In [14]:
R.mean()

0    0.204977
dtype: float64

In [15]:
R.var()

0    0.022458
dtype: float64